*~
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
.dep.inc
.deps
install-sh
Makefile
Makefile.in
missing
*.mk
nbproject
*.o
src/client/presidente-client
src/Makefile
src/Makefile.in
src/server/presidente-server
stamp-h1
uml/*.d
uml/documentation
uml/*.lock
uml/*.session
