*~
aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
depcomp
.dep.inc
install-sh
Makefile
Makefile.in
missing
*.mk
nbproject
*.o
src/.deps
src/Makefile
src/Makefile.in
stamp-h1
uml/documentation
uml/*.d
uml/*.lock
uml/*.session
